
body{
    background-color: black;
}

.texto {
    color: aliceblue;
}
.charger__container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

/*.charger__container{
    border: 1px solid;
    border-radius: 2%;
    min-width: 30vw; 
    background-color: rgb(24, 23, 23);
    box-shadow: 5px 5px 5px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.blue {
    color: rgb(202, 144, 37);
    font-weight: bolder;
}*/